# Generic
__pycache__
/.idea/
/.mypy_cache/
/.pytest_cache/
logging.txt

# coverage
/.coverage
/htmlcov/

# Data
*.mp3

# Envs
/env/

# Keys
.fernet_key
.logged_in_user

# Build
/build/
/backend.egg-info/
/dist/

# Credentials
/mongodb-credentials.ini
